@page "/mainpage";


<h3>Exploring blazor...</h3>
<hr />
<ListComponent></ListComponent>


<p><button class="btn btn-primary" @onclick="ClickEventHandler">Click me</button></p>

<p><div><input class="form-control-sm" @onchange="@InputString" /></div></p>

<p><button class="btn btn-primary" @onclick="() => NavigateToDetails()">Navigate to details method</button></p>

@foreach(var widget in Widgets){
    <DynamicComponent Type="widget"></DynamicComponent>
}

<ErrorBoundary>
    <ChildContent>
      
    </ChildContent>
    <ErrorContent>
    <p class="error">Error</p>        
    </ErrorContent>
</ErrorBoundary>


<h3>Data binding...</h3>
<hr />
<div>
    <h2>Getting values from variables</h2>
    Employee first name: <label>@Item.Name</label><br />
    Employee last name: <label>@Item.Description</label>
</div>

<hr />
<div>
    <h2>One way data binding on form controls</h2>
    <p>Item name: <input value="@Item.Name" /></p>
    <p>Item description: <input value="@Item.Description" /></p>
</div>
<hr />
<div>
    <h2>Two way data binding</h2>
    <p>Item name: <input @bind="@Item.Name" /></p>
    <p>Item description <input @bind="@Item.Description" /></p>
</div>
<hr />
<div>
    <h2>Two way data binding on a different event</h2>
    <p>Item name: <input @bind-value="@Item.Name" @bind-value:event="oninput" /></p>
    <p>Item name: <input @bind-value="@Item.Description" @bind-value:event="oninput" /></p>
</div>
<hr />

<div>
    <button class="btn btn-success" @onclick="Button_Click">Click me</button>
</div>
<hr />

<p>Binding input to specific variable
    <EditForm Model="@Item">
        <InputText id="name" @bind-Value="@Item.Name"></InputText>
    </EditForm>
</p>
<hr />


<p> Fetching Input Select from Database (need to explore this more...)
    <EditForm Model="@Item">  
        <InputSelect id="item" class="form-select" @bind-Value="@Item.Id">
            @foreach (var item in Items)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>
    </EditForm>
</p> 
<hr />


<p>Input Text Area
<EditForm Model="@Item"> 
    <InputTextArea @bind-Value="@Item.Description" id="description" class="form-control" placeholder="Enter comment"></InputTextArea>
</EditForm>
</p>
<hr />


<p>Input number
<EditForm Model="@Item">
    <InputNumber id="id"  @bind-Value="@Item.Id"></InputNumber>
</EditForm>
</p>
<hr />

<p>InputDate
<EditForm Model="@Item">
    <InputDate id="date" @bind-Value="@Item.ProductionDate"></InputDate>
</EditForm>
</p>
<hr />

<p>Input check
    <EditForm Model="@Item">
        <InputCheckbox id="checkbox" @bind-Value="@Item.IsAvailable"></InputCheckbox>
    </EditForm>
</p>
<hr />

<p>Input radio
    
<EditForm Model="@Item">
    <InputRadioGroup Name="Colors" @bind-Value="@Item">
            @foreach (var item in Items)
            {
                 <p>
                     <InputRadio Name="Colors" Value=" item"/>
                     @item.Color
                </p>
               
            }
        </InputRadioGroup>
</EditForm>
</p>
<hr />

<p>Input File
    <EditForm Model="@Item">
        <InputFile OnChange="OnInputFileChange"/>
    </EditForm>
</p>
<hr />

<p>Validations
    <EditForm Model="@Item">
         <DataAnnotationsValidator/>
         <ValidationSummary/>

        <InputText id="name" @bind-Value="@Item.Name"></InputText>
        <ValidationMessage For="@(()=>Item.Name)"/>
    </EditForm>
</p>
<hr />

<p>Event handlers (OnValidSubmit / OnInvalidSubmit)
    @if (Check == false)
    {
        <EditForm Model="@Item" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" @bind-Value="@Item.Name"></InputText>
            <ValidationMessage For="@(()=>Item.Name)" />

            <p><button type="submit" class="btn btn-success">Test</button></p>
        </EditForm>
    }
    else
    {
        <div class="alert @Status">test</div>
    }
</p>